<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wellcheck.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="WellCheck"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WellCheck"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".features.auth.RegisterStudentActivity"
            android:exported="false" />
        <activity
            android:name=".features.auth.RegisterCounselorActivity"
            android:exported="false" />

        <activity
            android:name=".features.dashboards.StudentDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".features.dashboards.CounselorDashboardActivity"
            android:exported="false" />

    </application>

</manifest>