<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- REQUIRED: internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="WellCheck"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WellCheck"
        android:usesCleartextTraffic="true">

        <!-- Landing screen (entry point) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" android:exported="false" />
        <activity android:name=".RegisterStudentActivity" android:exported="false" />
        <activity android:name=".RegisterCounselorActivity" android:exported="false" />

        <activity android:name=".StudentDashboardActivity" android:exported="false" />
        <activity android:name=".CounselorDashboardActivity" android:exported="false" />
        <activity android:name=".ManageSlotsActivity" android:exported="false" />
        <activity android:name=".BrowseCounselorsActivity" android:exported="false" />
        <activity android:name=".BookAppointmentActivity" android:exported="false" />


    </application>

</manifest>