<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="WellCheck"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WellCheck"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" android:exported="false" />
        <activity android:name=".RegisterStudentActivity" android:exported="false" />
        <activity android:name=".RegisterCounselorActivity" android:exported="false" />
        <activity android:name=".StudentDashboardActivity" android:exported="false" />
        <activity android:name=".CounselorDashboardActivity" android:exported="false" />
        <activity android:name=".CompleteProfileActivity" android:exported="false" />

        <!-- Catches the OAuth deep link: wellcheck://callback?token=...-->
        <activity
            android:name=".OAuthCallbackActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="wellcheck"
                    android:host="callback" />
            </intent-filter>
        </activity>

    </application>

</manifest>